<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</script>
</head>
<body>
<h3>emp_add</h3>
<form action="emp_add_act" method="post">
	<table border="1" style="text-align: center; width: 150px;">
		<tr>
			<th>사번</th>
			<td><input type="text" name="e_id" style="width: 40px;" /></td>
		</tr>
		<tr>
			<th>이름</th>
			<td><input type="text" name="e_name" style="width: 40px;" /></td>
		</tr>
		<tr>
			<th>성별</th>
			<td><input type="text" name="sex" style="width: 40px;" /></td>
		</tr>
		<tr>
			<th>주소</th>
			<td><input type="text" name="addr" style="width: 40px;" /></td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="submit" value="등록" />
			</td>
		</tr>
	</table>
</form>
</body>
</html>