<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	canvas {
		background-color: #eee;
		display: block;
		margin: auto;
	}
</style>
<script type="text/javascript">
</script>
</head>
<body>
	<canvas id="test_canvas" width="600" height="600" style='border:1px solid grey;'></canvas>
	<script type="text/javascript">
		var canvas = document.getElementById("test_canvas");
		var context = canvas.getContext("2d");
		
		var str = "e.-299.-299,e.299.-299,e.-299.299,e.299.299,p.0.0";
		var arr_char = str.split(",");
		
		for(var i=0; i<arr_char.length; i++){
			var bpxz = arr_char[i].split(".");
			var ep = bpxz[0];
			var epx = parseInt(bpxz[1]);
			var epz = parseInt(bpxz[2]);
			if(ep=="e"){
				var cenx = epx+300;
				var ceny = epz+300;
				context.beginPath();
				context.rect(cenx-10, ceny-10, 10*2, 10*2);
				context.fillStyle = "#FF0450";
				context.fill();
				context.closePath();
			}
			if(ep=="p"){
				context.beginPath();
				context.arc(epx+300, epx+300, 10, 0, Math.PI*2, false);
				context.fillStyle = "skyblue";
				context.fill();
				context.closePath();
			}
		}

	</script>
</body>
</html>