<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	canvas {
		background-color: #eee;
		display: block;
		margin: auto;
	}
</style>
<script type="text/javascript">
</script>
</head>
<body>
	<canvas id="test_canvas" width="100" height="100" style='border:1px solid grey;'></canvas>
	<script type="text/javascript">
		
		var str = "e.-499.-499,e.499.-499,e.-499.499,e.499.499,p.0.0";
		
		function drawConvas(str){
			var arr_char = str.split(",");
			var canvas = document.getElementById("test_canvas");
			var context = canvas.getContext("2d");
			
			for(var i=0; i<arr_char.length; i++){
				var bpxz = arr_char[i].split(".");
				var ep = bpxz[0];
				var epx = parseInt(bpxz[1]);
				var epz = parseInt(bpxz[2]);
				if(ep=="e"){
					var cenx = (epx+500)*(1/10);
					var ceny = (epz+500)*(1/10);
					context.beginPath();
					context.rect(cenx-10, ceny-10, 10*2, 10*2);
					context.fillStyle = "#FF0450";
					context.fill();
					context.closePath();
				}
				if(ep=="p"){
					var cenx = (epx+500)*(1/10);
					var ceny = (epz+500)*(1/10);
					context.beginPath();
					context.arc(cenx, ceny, 10, 0, Math.PI*2, false);
					context.fillStyle = "skyblue";
					context.fill();
					context.closePath();
				}
			}
		}
		
		drawConvas(str);

	</script>
</body>
</html>